.App{
  width: 80%;
  margin: auto;
}
.app{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.card{
    border: 1px solid black;
    width: 200px;
    padding: 12px;
}
img{
    width: 80px;
    height: 80px;
}